[buildout]
parts =
    instance
    scripts
develop = .
versions = versions
show-picked-versions = true
extensions = mr.developer
auto-checkout = reg morepath more.transaction

[versions]

[sources]
reg = git https://github.com/morepath/reg.git
morepath = git https://github.com/morepath/morepath.git
more.transaction = git https://github.com/morepath/more.transaction.git

[instance]
recipe = zc.recipe.egg
eggs =
    damvitool
    waitress
    SQLAlchemy
    zope.sqlalchemy
    psycopg2
    webassets
    static
    pytest

[scripts]
recipe = zc.recipe.egg:scripts
eggs = damvitool
